# Class ValidationResult
## Base Class
- Object
## Properties
Flags|Type|Name
-|-|-
*r* *w*|Guid|Id
*r* *w*|DateTime|Timestamp
*r* *w*|Servity|Servity
*r* *w*|String|Message
*r* *w*|Object|Source
*r* *w*|String|PropertyName
*r* *w*|Object|Value
## Constructors
Flags|Name|Parameters
-|-|-
&nbsp;|ValidationResult|( Servity sServity , String strMessage , Object oSource , String strPropertyName , Object oValue )
