# ValidationResult
## Base Class
- Object
## Implemented Interfaces
## Derived Classes
## Fields
## Properties
- Id
- Timestamp
- Servity
- Message
- Source
- PropertyName
- Value
## Constructors
- Void .ctor(SIGENCEScenarioTool.Models.Servity, System.String, System.Object, System.String, System.Object)
## Methods
- ToString
- Equals
- GetHashCode
- GetType
